:root{
    --back: #F0EDEE;
    --main: #12308A;
    --accent: #5198DB;
}

body{
    margin-top: 200px;
    background-color: var(--back);
    display: flex;
}

header{
    color: var(--back);
    text-align: center;
    background-image: linear-gradient(90deg, var(--main), var(--accent));
    height: 150px;
    width: 100%;
    top: 0px;
    font-size: 70px;
    filter: drop-shadow(0px 0px 10px #000000a6);
    position: absolute;
}

header h1{
    padding-top: 40px;
}

.sElm{
    width: 400px;
    text-align: center;
    border-right: 5px solid var(--main);
    margin-right: 40px;
}

.sElm button{
    color: var(--back);
    margin-top: 15px;
    width: 80%;
    height: 50px;
    font-size: 20px;
    background-color: var(--accent);
    transition: 0.5s;
    border-radius: 15px;
    text-transform: capitalize;
}

.sElm button:hover{
    background-color: var(--main);
    transition: 0.25s;
}

.sElm button:active{
    background-color: var(--back);
    color: var(--main);
    transition: 0s;
}

.fakeHr{
    content: " ";
    display: block;
    border-bottom: 3.5px solid var(--accent);
    margin: 5%;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 90%;
}

.sBar h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.sBar input{
    width: 80%;
    padding: 2%;
}

.sList p{
    font-size: 20px;
}

.nsElm{
    width: 65%;
    margin-left: 5%;
    margin-right: 5%;
}

.todayBox{
    width: 100%;
    border: 5px var(--main) solid;
    border-radius: 15px;
    background-color: var(--back);
    filter: drop-shadow(3px 3px 10px #000000a6);
    display: flex;
    padding: 15px;
    text-transform: capitalize;
}

.todayBox aside{
    width: 50%;
    border-right: 5px solid var(--main);
}

.todayBox h1{
    font-size: 50px;
    margin-bottom: 5px;
    font-family: "Twemoji Mozilla",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
    "EmojiOne Color",
    "Android Emoji",
    sans-serif;
}

.todayBox h2{
    font-size: 45px;
    margin-bottom: 5px;
}

.todayBox h3{
    font-size: 35px;
    margin-bottom: 5px;
}

.todayBox li{
    height: 33.33%;
}

.todayBox li{
    font-size: 35px;
    margin-bottom: 1%;
    margin-left: 15px;
}

.nsElm p{
    font-size: 35px;
    margin-top: 15px;
}

.wCard{
    background-color: var(--accent);
    border: 5px solid var(--main);
    border-radius: 15px;
    color: var(--back);
    text-align: center;
    padding: 15px;
    margin: 5px;
    flex-basis: 225px;
    text-transform: capitalize;
}

.wCard h1{
    font-size: 35px;
    font-family: "Twemoji Mozilla",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
    "EmojiOne Color",
    "Android Emoji",
    sans-serif;
}

.wCard h2{
    font-size: 30px;
}

.wCard h3{
    font-size: 25px;
}

.wCard li{
    text-align: left;
    font-size: 20px;
}

.wallet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hidden{
    display: none;
}

.error{
    color: red;
    margin-top: 15px;
}